{
  "root": true,
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:tailwindcss/recommended"
  ],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "quote-props": ["warn", "consistent-as-needed"],
    "quotes": ["error", "backtick"],
    "space-before-function-paren": ["warn", {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "always"
    }],
    "tailwindcss/no-custom-classname": ["warn", {
      "config": "app/tailwind.config.js",
      "classRegex": "^twa-*$",
      "whitelist": [
        "placeholder"
      ]
    }],
    "@typescript-eslint/no-unused-vars": ["warn", {
      "args": "none"
    }],
    "vue/no-multiple-template-root": "warn"
  },
  "overrides": [
    {
      "files": ["app/components/*/**/*.vue"],
      "rules": {
        "vue/multi-word-component-names": "off"
      }
    },
    {
      "files": ["app/pages/**/*.vue"],
      "rules": {
        "vue/no-multiple-template-root": "off"
      }
    }
  ]
}