services:
  unbgeology.lib.unb.ca:
    build:
      context: .
    restart: unless-stopped
    container_name: unbgeology.lib.unb.ca
    expose:
      - 80
    volumes:
      - ./app:/app
    env_file:
      - ./env/nuxt.env
    networks:
      - unbgeology.lib.unb.ca
    ports:
      - 3118:80
      - 31180:31180

networks:
  unbgeology.lib.unb.ca:
    name: unbgeology.lib.unb.ca