services:
  unbgeology.lib.unb.ca:
    build:
      context: .
    restart: unless-stopped
    container_name: unbgeology.lib.unb.ca
    expose:
      - 80
      - 9229
      - 31180
    volumes:
      - ./app/node_modules:/app/html/node_modules
      - ./app/.build:/app/html/.build
      - ./app/nuxt.config.ts:/app/html/nuxt.config.ts
      - ./app/config:/app/html/config
      - ./app/components:/app/html/components
      - ./app/layouts:/app/html/layouts
      - ./app/modules:/app/html/modules
      - ./app/pages:/app/html/pages
      - ./app/plugins:/app/html/plugins
      - ./app/public:/app/html/public
      - ./app/middleware:/app/html/middleware
      - ./app/server:/app/html/server
      - h3-data:/app/data/db
    env_file:
      - ./env/nuxt.env
    networks:
      - unbgeology.lib.unb.ca
    ports:
      - 3118:80
      - 31180:31180
      # - 9229:9229

  idp-saml-unbgeology-lib-unb-ca:
    image: kristophjunge/test-saml-idp
    container_name: idp.unbgeology.lib.unb.ca
    restart: unless-stopped
    expose:
      - 8080
      - 8443
    env_file:
      - ./env/saml.env
    networks:
      - unbgeology.lib.unb.ca
    ports:
      - 6118:8080
      - 61180:8443

networks:
  unbgeology.lib.unb.ca:
    name: unbgeology.lib.unb.ca

volumes:
  h3-data: