@config "../../tailwind.config.ts";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-padding: 0.75rem;
    --navbar-item-padding: 1rem;
    /* Logo aspect ratio: 9:1 */
    --header-logo-height: 1.5rem;
    --header-logo-width: calc(var(--header-logo-height) * 9);
    --navbar-item-logo-width: 1.25rem;
    --navbar-item-logo-label-space: 0.75rem;
    --navbar-item-label-width: calc(var(--header-logo-width) + var(--header-padding) - 2 * var(--navbar-item-padding) - var(--navbar-item-logo-width) - var(--navbar-item-logo-label-space))
  }
  
  body {
    @apply text-white text-100 bg-base;
  }

  .site-header {
    padding: var(--header-padding);
    @apply bg-base-dark-500 flex w-full flex-none;
  }
}

@layer components {
  /* Logo */
  .unbliblogo {
    height: var(--header-logo-height);
    width: var(--header-logo-width);
  }
  .unbliblogo-g-icon,
  .unbliblogo-g-libraries {
    @apply fill-red;
  }
  .unbliblogo-g-unb,
  .unbliblogo-g-spacer {
    @apply fill-white;
  }
  

  /* Navbar */
  .navbar-item {
    @apply flex flex-row;
    @apply w-full items-center overflow-hidden;
    @apply hover:bg-base-dark-600 hover:text-accent;
    padding: var(--navbar-item-padding);
  }
  .navbar-item-logo {
    width: var(--navbar-item-logo-width);
    height: var(--navbar-item-logo-width);
  }
  .navbar-item-label {
    @apply overflow-x-hidden text-nowrap leading-4;
    @apply transition-[width,opacity,margin] duration-300;
    margin-left: var(--navbar-item-logo-label-space);
    width: var(--navbar-item-label-width);
  }
  .navbar-item-label-collapsed {
    @apply w-0 ml-0 opacity-0;
  }
  .navbar-item-label-floating {
    left: calc((var(--navbar-item-padding) * 2) + var(--navbar-item-logo-width) + 0.5rem);
    @apply z-10 hidden absolute;
    @apply p-50 rounded-lg;
    @apply text-100 bg-base-dark-400;
  }
}