@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-screen bg-base dark:bg-primary-80 text-primary dark:text-base;
  }

  #__nuxt {
    @apply h-full
  }

  p {
    @apply mb-12
  }

  form {
    @apply form-col
  }
  form h2 {
    @apply mb-12
  }
}

@layer components {
  .context-menu {
    @apply bg-primary border-primary-60/40 right-0 top-12 z-50 w-64 rounded-md border p-4
  }

  .input-label {
    @apply mb-2 align-middle text-lg font-bold
  }
  
  .input {
    @apply flex flex-row items-center space-x-2
    bg-base dark:bg-primary disabled:bg-primary-80 border border-primary-20 dark:border-primary-60/75 hover:border-accent-light
      has-[:focus]:ring-2 has-[:focus]:ring-accent-light has-[:focus]:hover:border-transparent
  }
  .input-ref {
    @apply w-full p-0 bg-inherit border-none focus:ring-0
      text-inherit placeholder:text-primary dark:placeholder:text-primary-20 placeholder:italic;
    font-size: inherit;
  }
  .input-select-empty {
    @apply text-primary-80 dark:text-primary-20
  }
  .input-select-reset {}
  .input-select-item {
    @apply hover:bg-accent-mid focus:bg-accent-dark hover:text-primary flex h-8 cursor-pointer items-center justify-start p-2
  }
  .input-select-item-selected {
    @apply bg-accent-mid hover:bg-accent-light text-primary
  }

  .divider {
    @apply 
      flex before:flex-1 after:flex-1 before:ml-48 before:mr-6 empty:before:mr-0 before:pt-px after:mr-48 after:ml-6 empty:after:ml-0 after:pt-px items-center
      before:bg-primary-60/75 after:bg-primary-60/75
      text-primary-60/75 uppercase  
  }

  .form-row {
    @apply flex flex-row space-x-6
  }
  .form-row-2 > .form-field {
    @apply w-1/2
  }
  .form-row-3 > .form-field {
    @apply w-1/3
  }
  .form-row-4 > .form-field {
    @apply w-1/4
  }
  .form-row-5 > .form-field {
    @apply w-1/5
  }
  

  .form-col {
    @apply flex flex-col space-y-6
  }

  
  .form-field {
    @apply flex flex-col
  }
  .form-field-label {
    @apply mb-2 text-lg font-bold align-middle
  }
  .form-field > label {
    @apply form-field-label
  }


  .form-input {
    @apply
      bg-base dark:bg-primary disabled:bg-primary-80
      disabled:text-primary-40
      border border-primary-20 dark:border-primary-60/75 hover:border-accent-light focus:border-accent-mid
  }
  
  .form-input-text, .form-input-textarea, .form-input-pvselect, .form-input-number {
    @apply rounded-lg p-3
  }
  .form-input-number {
    @apply w-full
  }
  .form-input-color {
    @apply rounded-lg h-full cursor-pointer
  }


  .form-actions {
    @apply flex flex-row space-x-2
  }
  .form-action {
    @apply p-3 text-white font-bold
  }
  .form-action-submit {
    @apply bg-accent-dark dark:bg-accent-mid hover:bg-accent-light rounded-md
  }
  .form-action-delete {
    @apply border border-red hover:bg-red text-red hover:text-white rounded-md
  }
  .form-action-cancel {
    @apply hover:cursor-pointer hover:underline
  }
}