@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    height: 100vh;
    @apply bg-base dark:bg-primary-80 text-primary dark:text-base;
  }

  #__nuxt {
    height: 100%;
  }

  p {
    margin-bottom: 3rem; /* 48px */
  }
}