name: Deploy unbgeology.lib.unb.ca

on:
  pull_request:
  push:
  workflow_dispatch:

jobs:
  deploy:
    uses: unb-libraries/dockworker/.github/workflows/build-push-test-deploy-notify.yaml@6.x
    with:
      branch-env-map: '{"dev":"dev", "prod":"prod"}'
      deploy-branches: '["dev", "prod"]'
      image-name: ghcr.io/unb-libraries/unbgeology.lib.unb.ca
      k8s-deployment-name: 'unbgeology-lib-unb-ca'
      push-branches: '["dev", "prod"]'
    secrets:
      KUBE_CONFIG: ${{ secrets.KUBE_CONFIG_DATA }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      DOCKER_CLOUD_USER_NAME: ${{ secrets.DOCKER_CLOUD_USER_NAME }}
      DOCKER_CLOUD_ACCESS_TOKEN: ${{ secrets.DOCKER_CLOUD_ACCESS_TOKEN }}
      GH_CONTAINER_REGISTRY_USER: ${{ secrets.GH_CONTAINER_REGISTRY_USER }}
      GH_CONTAINER_REGISTRY_TOKEN: ${{ secrets.GH_CONTAINER_REGISTRY_TOKEN }}
