name: Deploy unbgeology.lib.unb.ca

on:
  pull_request:
  push:
  workflow_dispatch:

jobs:
  deploy:
    uses: unb-libraries/dockworker/.github/workflows/deploy.yaml@6.x
    with:
      branch-env-map: '{"dev":"dev"}'
      deploy-branches: '["dev"]'
      k8s-deployment-name: 'unbgeology-lib-unb-ca'
      push-branches: '["dev"]'
    secrets:
      KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
